@import url('https://api.fontshare.com/v2/css?f[]=erode@401,400&f[]=satoshi@900,700,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* --text: 217 33% 17%;
    --background: 200 27% 94%;
    --primary-button: 21 99% 61%;
    --secondary-button: 234 87% 91%;
    --accent: 233 89% 55%; */

    --background: 200 27% 94%;
    --foreground: 217 33% 17%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 21 26% 87%;

    --primary: 21 99% 61%;
    --primary-foreground: 0 0% 100%;
 
    --secondary: 233 89% 55%;
    --secondary-foreground: 0 0% 100%;
 
    --accent: 234 87% 91%;
    --accent-foreground: 217 33% 17%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 234 26% 71%;
 
    --radius: 1.5rem;
  }
 
  .theme-dark {
    --background: 212 17% 7%;
    --foreground: 216 9% 78%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 223 19% 8%;
    --popover-foreground: 0 0% 100%;

    --card: 223 19% 4%;
    --card-foreground: 0 0% 100%;

    --border: 214.3 31.8% 91.4%;
    --input: 21 26% 87%;

    --primary: 21 99% 61%;
    --primary-foreground: 0 0% 100%;
 
    --secondary: 233 89% 55%;
    --secondary-foreground: 223 19% 92%;
 
    --accent: 234 87% 91%;
    --accent-foreground: 216 9% 17%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 234 26% 71%;
 
    --radius: 1.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}