---
import MainLayout from '../layouts/main.astro';

const title: string = "Projects 🗂"
---
<MainLayout title={title}>
  <div class="pt-8 sm:pt-10 lg:pt-32 sm:scroll-mt-32 mx-auto max-w-5xl pb-8 px-4 sm:px-6">
    <div class="bg-card drop-shadow-md rounded-lg p-8 flex flex-col flex-wrap items-center justify-center text-card-foreground">
      <h1 class="text-2xl mb-4">{title} page</h1>
      <h2 class="font-bold text-4xl">Coming Soon</h2>
    </div>
  </div>
</MainLayout>