<div class="absolute -z-10 inset-x-0 bottom-0 top-1/2 text-slate-900/10 [mask-image:linear-gradient(transparent,75%,white)]">
  <svg aria-hidden="true" class="absolute inset-0 h-full w-full bg-primary text-amber-300">
    <defs>
      <pattern id=":R1rm:" width="128" height="128" patternUnits="userSpaceOnUse" x="50%" y="100%">
        <path d="M0 128V.5H128" fill="none" stroke="currentColor"></path>
      </pattern>
    </defs>
    <rect width="100%" height="100%" fill="url(#:R1rm:)"></rect>
  </svg>
</div>